
<h3 class= 'mb-4'>Select car</h3>

<%= link_to '+ Add more cars', new_car_path, class: 'btn btn-success '%>

<% if @race_car.empty? %>
<div class= "mt-5 text-center fs-2">
  <p>Car parking is empty</p>
  <p>Use the "Add more cars" button to add more cars</p>
  <p>And try again later</p>
</div>

  <%else%>
  <div class="d-flex align-content-center flex-wrap mt-4 ">
  <% @race_car.each do |car| %>
  <div class="card mb-2 mx-2" style="max-width: 14rem; max-height: 12rem;">
    <div class="card-body">
      <h5 class="card-title"><%= car.name %></h5>
      <p class="card-text text-truncate">
        <%= car.description %>
      </p>
    </div>
    <div class="card-footer">
      <%= link_to 'Select', "/races/#{@race.id}/add_race_car/#{car.id}", class: 'btn btn-success' %>
      <%= link_to 'View', car_path(car), class: 'btn btn-secondary ' %>
    </div>
  </div>
  <% end %>
  <% end %>

</div>
