<h3 class= 'mb-4'><%= @car.name %></h3>


<div >
  Max rpm   --> <%= @car.max_rpm %>  <br>
  Troque    --> <%= @car.torque %> <br>
  Max gear  --> <%= @car.max_gear %> <br>
  Max speed --> <%= @car.max_speed %> <br>
</div>
