
<ul class="list-group">
  <li class="list-group-item active"><%= @car.name %></li>
  <li class="list-group-item">Max rpm   --> <%= @car.max_rpm %> </li>
  <li class="list-group-item">Troque    --> <%= @car.torque %></li>
  <li class="list-group-item">Max gear  --> <%= @car.max_gear %></li>
  <li class="list-group-item">Max speed --> <%= @car.max_speed %></li>
  <li class="list-group-item">Create data --> <%= @car.created_at %></li>
  <li class="list-group-item">Update data --> <%= @car.updated_at %></li>
</ul>
<br>
<%= link_to 'Edit', edit_car_path(@car), class: 'btn btn-primary ' %>
<%= link_to 'Delete', car_path(@car), data: {method: :delete, confirm: "Are you sure?"}, class: 'btn btn-danger ' %>
